<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tercer parcial</title>
    <link rel="stylesheet" href="../../../Assets/css/containerStyles.css">

</head>
<body style="background-color: black;">
    <div style="font-size: 40px; margin-left: 15px;">
        <a href="../citizenship.html" style="text-decoration: none; color: white; font-family: iknowaghost;">x</a></div>
    <div class="center" style="color: white; font-family: iknowaghost;">
      
        <ol type="I">
            <li class="zoom" onClick="window.open('https://udelasalleedu-my.sharepoint.com/:w:/g/personal/mrc70704_udelasalle_edu_mx/EU3qm_GsK7ZEi8NzTrBIcGYB__c5p6JTPNerwsh3wyoB9Q?e=8kWGt6')">Reflexión documental "The true cost"</li>
            <li class="zoom" onClick="window.open('./mapas/Tema_2.png')">Desarrollo sustentable</li>
            <li class="zoom" onClick="window.open('https://padlet.com/antonio_moralesca/9skac4fy96r17vrm')">Padlet</li>
            <li class="zoom" onClick="window.open('./mapas/Tema_4.png')">Principios del desarrollo sustentable</li>
            <li class="zoom" onClick="window.open('./mapas/Tema_5.png')">Características del desarrollo sustentable</li>
            <li class="zoom" onClick="window.open('./mapas/Tema_6.pdf')">Cuestionario responsabilidad social</li>
        </ol>
    </div>
</body>
</html>