<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segundo parcial</title>
    <link rel="stylesheet" href="../../../Assets/css/containerStyles.css">

</head>
<body style="background-color: black;">
    <div style="font-size: 40px; margin-left: 15px;">
        <a href="../citizenship.html" style="text-decoration: none; color: white; font-family: iknowaghost;">x</a></div>
    <div class="center" style="color: white; font-family: iknowaghost;">
      
        <ol type="I">
            <li class="zoom" onClick="window.open('./mapas/Tema_1.png')">Democracia y participación social</li>
            <li class="zoom" onClick="window.open('./mapas/Tema_2.png')">Derechos Humanos</li>
            <li class="zoom" onClick="window.open('./mapas/Tema_3.pdf')">Generaciones de Derechos Humanos</li>
            <li class="zoom" onClick="window.open('https://udelasalleedu.sharepoint.com/:w:/r/sites/01105LISHU70711-149/_layouts/15/Doc.aspx?sourcedoc=%7B31391926-C1FA-4E80-9281-A05997522A5E%7D&file=Ciber%20activismo.docx&action=default&mobileredirect=true&wdOrigin=TEAMS-ASSIGN-WEB.ASSIGN-STUD-VIEW.STUD')">Ciberactivismo</li>
            <li style="color:gray">Actividad podcast, sin completar</li>
            <li class="zoom" onClick="window.open('https://padlet.com/marilamarinela/fkzbcoypwefhv88u?classId=57efebf1-0867-4b17-b103-a0fe0eee6ab1&assignmentId=c3b44af7-add8-4354-9f3f-c0e9b8d0ca68&submissionId=65c807ba-2092-4486-5021-25094f4445c5')">Línea del tiempo de los derechos humanos</li>
        </ol>
    </div>
</body>
</html>