<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer parcial</title>
    <link rel="stylesheet" href="../../../Assets/css/containerStyles.css">

</head>
<body style="background-color: black;">
    <div style="font-size: 40px; margin-left: 15px;">
        <a href="../citizenship.html" style="text-decoration: none; color: white; font-family: iknowaghost;">x</a></div>
    <div class="center" style="color: white; font-family: iknowaghost;">
      
        <ol type="I">
            <li class="zoom" onClick="window.open('../../../Assets/images/Door.png')">Ciudadanía y pertenencia</li>
            <li class="zoom" onClick="window.open('../../../Assets/images/Door.png')">Ciudadanía y pertenenciaa</li>
        </ol>
    </div>
</body>
</html>